In [76]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import seaborn as sns

In [71]:
dataTest = pd.read_csv('data/testData.csv')
dataTrain = pd.read_csv('data/trainData.csv')
dataTest.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x21,x22,x23,x24,x25,x26,x27,x28,x29,x30
0,0,68,94,34,56,15,40,89,6,44,...,7,93,22,26,99,35,15,48,51,93
1,17,94,31,75,6,15,44,74,40,38,...,83,46,57,65,87,76,42,39,87,17
2,6,15,18,85,18,90,46,52,54,60,...,9,11,31,31,64,55,14,55,28,97
3,93,62,17,60,65,36,9,75,19,92,...,6,83,31,99,90,27,43,14,12,61
4,41,48,91,60,54,56,51,85,66,25,...,67,6,43,13,37,44,18,68,5,95

In [72]:
dataTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      500 non-null    int64
 1   x2      500 non-null    int64
 2   x3      500 non-null    int64
 3   x4      500 non-null    int64
 4   x5      500 non-null    int64
 5   x6      500 non-null    int64
 6   x7      500 non-null    int64
 7   x8      500 non-null    int64
 8   x9      500 non-null    int64
 9   x10     500 non-null    int64
 10  x11     500 non-null    int64
 11  x12     500 non-null    int64
 12  x13     500 non-null    int64
 13  x14     500 non-null    int64
 14  x15     500 non-null    int64
 15  x16     500 non-null    int64
 16  x17     500 non-null    int64
 17  x18     500 non-null    int64
 18  x19     500 non-null    int64
 19  x20     500 non-null    int64
 20  x21     500 non-null    int64
 21  x22     500 non-null    int64
 22  x23     500 non-null    int64
 23  x24     500 non-null    int64
 24  x25     500 non-null    int64
 25  x26     500 non-null    int64
 26  x27     500 non-null    int64
 27  x28     500 non-null    int64
 28  x29     500 non-null    int64
 29  x30     500 non-null    int64
 30  y       500 non-null    int64
dtypes: int64(31)
memory usage: 121.2 KB

In [73]:
dataTrain.describe()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x22,x23,x24,x25,x26,x27,x28,x29,x30,y
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,48.824000,51.340000,52.342000,49.360000,49.064000,48.786000,51.490000,50.880000,49.074000,51.096000,...,49.290000,48.512000,51.012000,52.396000,50.668000,50.746000,52.080000,51.472000,50.666000,7583.158000
std,29.741387,29.199548,27.995294,27.721749,29.187321,28.946295,29.221185,29.356519,28.892457,29.621912,...,28.655334,27.874214,29.612999,28.777621,29.324967,28.920274,28.633431,29.671637,29.897595,1213.613596
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4679.000000
25%,22.750000,24.750000,29.000000,27.750000,24.000000,24.750000,26.000000,25.000000,23.750000,25.000000,...,25.000000,26.000000,25.000000,29.000000,25.000000,26.750000,27.750000,25.000000,25.000000,6713.500000
50%,50.000000,53.500000,52.500000,49.000000,48.500000,47.000000,54.000000,50.500000,48.000000,49.500000,...,49.000000,48.000000,50.000000,51.000000,51.000000,50.000000,53.000000,51.000000,50.000000,7553.000000
75%,74.250000,76.250000,76.000000,73.000000,76.000000,73.000000,78.000000,77.000000,74.000000,78.000000,...,74.000000,71.000000,78.000000,79.000000,77.000000,77.000000,77.000000,78.250000,79.000000,8354.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,11421.000000

In [77]:
lm = LinearRegression()
feature_cols = dataTrain.columns[:-1]
x = dataTrain[feature_cols]
y = dataTrain['y']
lm.fit(x, y)
yTest = lm.predict(dataTest)